<%= flash[:notice] %>
<form action="/session" method="POST" class='session-new'>
 <label>Username: <input type="text" name="username" required></label>
 <label>Password: <input type="password" name="password" required> </label>
  <input type="submit" value="Sign In">
</form>