<div class='cover-img'>
  <div class='registration-wrapper'>
    <%= flash[:notice] %>
    <form action="/session" method="POST" class='session-new'>
      <div class='form-wrapper'>
        <div class='registration-left'>
          <label>Username: </label>
          <label>Password: </label>
        </div>
        <div class='registration-right'>
          <input type="text" name="username" required>
          <input type="password" name="password" required>
        </div>
      </div>
        <input type="submit" value="Sign In">
    </form>
  </div>
</div>