<div class='cover-img'>
  <div class='registration-wrapper'>
    <form action="/places" method="POST">
      <div class='form-wrapper'>
        <div class='registration-left'>
          <label>Listing Title: </label>
          <label>Description: </label>
          <label>Address: </label>
          <label>Price per Night: </label>
          <label>Availability: </label>
        </div>
        <div class='registration-right'>
          <input type="text" name="listingtitle" required>
          <input type="text" name="description" required>
          <input type="text" name="address" required>
          <input type="text" name="ppn" required>
          <input type='text' name='dates' required>
        </div>
        </div>
      <input type="submit" value="Publish">
    </form>
  </div>
</div>