<form action="/places" method="POST">
  <label>Listing Title: <input type="text" name="listingtitle" required></label>
  <br>
  <label>Description: <input type="text" name="description" required> </label>
  <br>
  <label>Address: <input type="text" name="address" required></label>
  <br>
  <label>Price per Night: <input type="text" name="ppn" required> </label>
  <br>
  <label>Availability: <input type='text' name='dates' required></label>
  <br>
  <input type="submit" value="Publish">
  <br>
</form>