<html>
  <% if @user  %>
  <h1>  <%= "welcome #{@user.name}"  %> </h1>
  <%  else    %>
  <h1> Welcome to Bnb </h1>
  <% end   %>
  <form action="/places" method="get">
  <button type="submit" value="Show all">Show all</button>
  </form> 
   <% if !@user  %>
   <form action="/users/new" method="get">
  <input type="submit" value="sign up">
   </form>
   <form action="/session/new" method="get">
  <button type="submit" value="Log In">Log In</button>
  </form> 
    <% end  %>
</html>


