<html>
  <% if @user  %>
  <h1>  <%= "welcome #{@user.name}"  %> </h1>
  <%  else    %>
  <h1> Welcome to Bnb </h1>
  <% end   %>
  <form action="/places" method="get">
  <button type="submit" value="Show all">Show all</button>
  </form> 
   <% if !@user  %>
   <form action="/users/new" method="get">
  <input type="submit" value="sign up">
   </form>
    <% else   %>
    <form action="/session" method="post">
  <input type="submit" value="logout">
  <input type="hidden" value="DELETE" name='_method'>
   </form>
    <% end  %>
</html>