<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="https://fonts.googleapis.com/css?family=Quicksand:300,400|Raleway:300,400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/reset.css">
    <link rel="stylesheet" type="text/css" href="/css/makersbnb.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Makers BnB | Share your Home!</title>
  </head>
  <body>
    <nav>
      <div class='home'>
        <a href='/places'>Makers BnB</a>
      </div>
      <div class='user-control'>
        <% if @user %>
        <form action="/users/<%= @user.id%>/mybookings" method="GET">
            <input type="submit" value="My Bookings">
          </form>
        <form action="/users/<%= @user.id%>/mylistings" method="GET">
            <input type="submit" value="My Listings">
          </form>
          <form action="/session" method="POST">
            <input type="hidden" value="DELETE" name='_method'>
            <input type="submit" value="Sign Out">
          </form>
        <% else %>
          <form action="/users/new" method="GET">
            <input type="submit" value="Sign Up">
          </form>
          <form action="/session/new" method="GET">
            <input type="submit" value="Sign In">
          </form>
        <% end %>
      </div>
    </nav>
    <main>
      <%= yield %>
    </main>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <script type='text/javascript' src='http://localhost:4567/js/datepicker.js'></script>
  </body>
</html>
