a {
  color: black;
  text-decoration: none;
}
body {
  background-color: rgba(127, 255, 212, 0.1);
}
h1 {
  font-size: 5rem;
  padding: 10px;
  text-align: center;
}

body {
  color: black;
  margin: 0;
  font-family: 'Quicksand', sans-serif;
}

.cover-img {
  top: -70px;
  background-color: aqua;
  background-image: url(/images/beach.jpg);
  height: 100vh;
  position: relative;
}

.welcome {
  position: absolute;
  color: white;
  top: 50vh;
  width: 100%;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.5);
  align-items: center;
  z-index: 99;
}

nav div.home {
  padding-left: 50px;
  font-size: 2rem;
  font-weight: bold;
}

nav div.user-control {
  display:  flex;
  padding-right: 50px;
}

div.user-control input[type='submit'] {
  background-color: transparent;
  font-size: 20px;
  margin-left: 10px;
  border: none;
}

div.user-control input[type='submit']:hover {
  border-bottom: 1px black solid;
}

main {
  position: relative;
  top: 70px;
  display: flex;
  flex-direction: column;
  z-index: 1;
}

div.listings-container {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin: auto;
}

div.listing {
  margin: 10px 10px;
  min-width: 300px;
  min-height: 150px;
  position: relative;
  margin-bottom: 30px;
}

div.title-ppn {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 10px;
}

div.description {
  padding: 10px;
  max-width: 300px;
  word-wrap: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* div.description {
  padding: 10px;
  overflow: hidden;
  width:300px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
} */

div.address {
  bottom: 0;
  padding: 10px;
}

.listing-img img {
  width: 300px;
  border-radius: 7px;
}

h2 {
  font-size: 2.5rem;
}

div.place-wrapper {
  position: relative;
  top: 150px;
  max-width: 900px;
  margin: auto;
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 50px;
}

div.place-top {
  padding: 10px 0;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

div.place-middle {
  padding: 30px 0;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

div.place-img img {
  max-width: 900px;
}

b {
  font-weight: bolder;
}

i {
  font-style: italic;
}

div.registration-wrapper {
  box-sizing: border-box;
  position: relative;
  top: 30vh;
  background-color: white;
  max-width: 600px;
  margin: auto;
  padding: 40px 30px;
  display: flex;
  justify-content: center;
}

div.registration-wrapper form {
  text-align: center;
} 

div.form-wrapper {
  display: flex;
}

div.registration-left {
  max-width: 50%;
  display: flex;
  flex-direction: column;
  text-align: left;
}

div.registration-left label {
  padding-top: 4px;
}

div.registration-right {
  max-width: 50%;
  display: flex;
  flex-direction: column;
}

div.registration-right input {
  margin: 1px;
}

div.registration-right input {
  width: 200px;
}

div.registration-wrapper input[type='submit'] {
  background-color: transparent;
  font-size: 20px;
  border: none;
  max-width: 90px;
  margin-top: 30px;
}

div.registration-wrapper input[type='submit']:hover {
  border-bottom: 1px black solid;
}

div.add-listing input[type='submit'] {
  background-color: transparent;
  font-size: 20px;
  border: none;
  margin-top: 30px;
  margin-left: 75px;
}

div.add-listing input[type='submit']:hover {
  border-bottom: 1px black solid;
}