<form action="/users" method="post">
 <label> name <input type="text" name="name" required></label>
 <label> username <input type="text" name="username" required></label>
 <label> email <input type="email" name="email" required> </label>
 <label> phonenumber<input type="tel" name="phonenumber" required> </label>
 <label> password <input type="password" name="password" required> </label>
  <input type="submit" value="register">
</form>