<%= flash[:notice] %>
<form action="/users" method="POST">
  <label>Name: <input type="text" name="name" required></label>
  <label>Username: <input type="text" name="username" required></label>
  <label>Email: <input type="email" name="email" required> </label>
  <label>Phone Number: <input type="tel" name="phonenumber" required> </label>
  <label>Password: <input type="password" name="password" required> </label>
  <input type="submit" value="Register">
</form>